*
!jupyter_notebooks
!jupyter_notebooks/*
!report
!report/*
!wrappers
!wrappers/*
!wrappers/*/*
!scripts
!scripts/*
!scripts/common
!scripts/common/*
scripts/.snakemake*
!schemas
!schemas/*
!Snakefile
!config.yaml
!samples.tsv
!resources
!resources/*
!envs
!envs/*
!LICENSE
!README.md
!rules
!rules/*
!.gitignore
!.editorconfig
!.gitattributes
!.example
!.example/*
*/.DS_Store
*/*/.DS_Store
